body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#inputContainer {
    margin-bottom: 20px;
}

#inputContainer input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

#inputContainer button {
    padding: 10px 20px;
    font-size: 16px;
    
}

h2 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

#completedTasks {
    margin-top: 30px;
}
